db = "/var/lib/strfry/"

dbParams {
    maxreaders = 128
    mapsize = 1073741824
    noReadAhead = false
}

events {
    maxEventSize = 65536
    rejectEventsNewerThanSeconds = 900
    rejectEventsOlderThanSeconds = 94608000
    rejectEphemeralEventsOlderThanSeconds = 60
    ephemeralEventsLifetimeSeconds = 300
    maxNumTags = 2000
    maxTagValSize = 1024
}

relay {
    bind = "::"
    port = 7777
    nofiles = 65536
    realIpHeader = ""

    info {
        name = "!Totem {{ inventory_hostname }}"
        description = "This is a strfry instance."
        pubkey = "{{ totem_npub_hex }}"
        contact = ""
        icon = ""
        nips = ""
    }

    maxWebsocketPayloadSize = 131072
    maxReqFilterSize = 200
    autoPingSeconds = 55
    enableTcpKeepalive = false
    queryTimesliceBudgetMicroseconds = 10000
    maxFilterLimit = 500
    maxSubsPerConnection = 20

    writePolicy {
        plugin = ""
    }

    compression {
        enabled = true
        slidingWindow = false
    }

    logging {
        dumpInAll = false
        dumpInEvents = false
        dumpInReqs = false
        dbScanPerf = false
        invalidEvents = true
    }

    numThreads {
        ingester = 1
        reqWorker = 1
        reqMonitor = 1
        negentropy = 1
    }

    negentropy {
        enabled = true
        maxSyncEvents = 1000000
    }
}
