// Managed by Totem Ansible.  Permit only the hardware primitives exposed by
// the device manager; this grants no FIPS, identity, or routing privileges.
polkit.addRule(function(action, subject) {
    var allowed = [
        "org.freedesktop.NetworkManager.enable-disable-wifi",
        "org.freedesktop.NetworkManager.network-control",
        "org.freedesktop.NetworkManager.wifi.scan",
        "org.freedesktop.NetworkManager.settings.modify.own",
        "org.freedesktop.NetworkManager.settings.modify.system",
        "org.freedesktop.NetworkManager.wifi.share.open",
        "org.freedesktop.NetworkManager.wifi.share.protected"
    ];

    if (subject.user == "totem" && allowed.indexOf(action.id) >= 0) {
        return polkit.Result.YES;
    }
});
