# Hardware drivers are selected lazily by the device API.
TOTEM_ALLOW_MOCK_DRIVERS=0
TOTEM_STORAGE_ROOT=/var/lib/totem/storage
{% if totem_eink_driver | default('') | length > 0 %}
TOTEM_EINK_DRIVER={{ totem_eink_driver }}
TOTEM_EINK_FULL_REFRESH_EVERY={{ totem_eink_full_refresh_every }}
TOTEM_SCREEN_ROTATION={{ totem_screen_rotation }}
TOTEM_SCREEN_SNAPSHOT_POLL_SECONDS={{ totem_screen_snapshot_poll_seconds }}
TOTEM_SCREEN_RECONNECT_SECONDS={{ totem_screen_reconnect_seconds }}
TOTEM_SCREEN_COALESCE_SECONDS={{ totem_screen_coalesce_seconds }}
TOTEM_SCREEN_CAPTION_WORD_SECONDS={{ totem_screen_caption_word_seconds }}
TOTEM_SCREEN_LOW_BATTERY_PERCENT={{ totem_screen_low_battery_percent }}
TOTEM_SCREEN_CRITICAL_BATTERY_PERCENT={{ totem_screen_critical_battery_percent }}
TOTEM_SCREEN_SEQUENCE_RATES={{ totem_screen_sequence_rates }}
TOTEM_SCREEN_SCENE_DWELLS={{ totem_screen_scene_dwells }}
TOTEM_SCREEN_SCENE_PRIORITIES={{ totem_screen_scene_priorities }}
TOTEM_SCREEN_MAX_PENDING_SCENES={{ totem_screen_max_pending_scenes }}
{% endif %}
{% if totem_ups_driver | default('') | length > 0 %}
TOTEM_UPS_DRIVER={{ totem_ups_driver }}
{% endif %}
